html {
    box-sizing: border-box;
  }
  
  *,
  ::after,
  ::before {
    box-sizing: inherit;
  }
  
  body {
    background-image: linear-gradient(#615dad, #ffc8da);
    background-attachment: fixed;
    color: #ffffff;
  }
  
  .containter {
    /* width: 450px; */
    max-width: 80vmin;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
  }
  
  h1 {
    font-family: Lobster, Arial, Helvetica;
    font-size: 3rem;
    text-align: center;
  }
  
.first-line {
    display: flex;
}

