html {
    box-sizing: border-box;
}

*,
::after,
::before {
    box-sizing: inherit;
}

body {
    background-image: linear-gradient(#615dad, #ffc8da);
    background-attachment: fixed;
    color: #ffffff;
}

.containter {
    /* width: 450px; */
    max-width: 80vmin;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
}

h1 {
    font-family: Lobster, Arial, Helvetica;
    font-size: 3rem;
    text-align: center;
}

.first-line {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.first-line__left {
    display: flex;
    align-items: center;
    gap: 5px;
}


.first-line__head {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5rem;
    font-weight: 700;
}

/* .first-line__circle {
    width: 25px;
    height: 25px;
    border: 2.5px solid white;
    border-radius: 50%;    
} */

.first-line__right {
    display: flex;
    align-items: center;
}

.first-line__button {
    padding: 0.4rem;
    margin: 0.4rem;
}

.first-line__button-green {
    background-color: #1fcca4
}

.first-line__button-green:hover {
    background-color: #1cbb96;
}

.first-line__button-blue {
    background-color: #0197f6;
}

.first-line__button-blue:hover {
    background-color: #0090e9;
}

.field {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid black;
    margin-top: 15px;
}

.field button {
    width: calc(100%/10);
    aspect-ratio: 1 / 1;
    background-color: transparent;
    border: 1px solid black;
}

.field button:hover {
    opacity: 0.1;
}

.board__field {
    width: 50px;
    height: 100px;
    display: inline-block;
    filter: invert(100%)  
} 

.board__field--circle {
    background-image: url(img/circle.svg);
    background-position: center;
    background-repeat: no-repeat;
}

.board__field--cross {
    background-image: url(img/cross.svg);
    background-position: center;
    background-repeat: no-repeat;
}